<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">{{!isSelected ? 'Usage Stats' : 'selected data'}}</h4>
              <p class="card-category" *ngif="!isSelected">New employees on 15th September, 2016</p>
            </div>
            <div class="card-body table-responsive" *ngIf="!isSelected">
              <table class="document-table table-hover">
                <thead class="text-warning">
                  <tr>
                    <th><p>ID</p></th>
                    <th><p>Name</p></th>
                    <th><p>File Name</p></th>
                    <th><p>Status</p></th>
                    <th><p>Author</p></th>
                    <!-- <th><input type="checkbox" name="selectAll" id="selectAll"></th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tableData" (click)="getData(item)">
                    <td>{{ item.document_ID }}</td>
                    <td>{{ item.document_Name }}</td>
                    <td>{{ item.file_Name }}</td>
                    <td>{{ item.approval_Status }}</td>
                    <td>{{ item.author_Name }}</td>
                    <!-- <td><input type="checkbox" name="checkbox" id="checkbox"></td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="isSelected">
              <div class="card-body table-responsive" *ngIf="isSelected">
                <table class="document-table table-hover">
                  <tbody>
                      <tr>{{ selectedItem.document_ID }}</tr>
                      <tr>{{ selectedItem.document_Name }}</tr>
                      <tr>{{ selectedItem.file_Name }}</tr>
                      <tr>{{ selectedItem.approval_Status }}</tr>
                      <tr>{{ selectedItem.author_Name }}</tr>
                  </tbody>
                </table>
              </div>
              <button class="btn btn-warning btn-block back-button" (click)="isSelected=false">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  