<div class="card">
 <div class="login-container">
    <form [formGroup]="loginForm">
      <label>Email:</label>
      <input type="text" formControlName="email" required>
      <label>Password:</label>
      <input type="password" formControlName="password" required>
      <div class="d-flex">
        <button type="submit" class="btn btn-warning btn-block ml-small" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>
        <button type="register" class="btn btn-warning btn-block ml-small" [routerLink]="['/register']">Register</button>
      </div>
    </form>
    
  </div>
</div>