<div class="card">
 <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>Email:</label>
      <input type="text" formControlName="email" required>
  
      <label>Password:</label>
      <input type="password" formControlName="password" required>
  
      <button type="submit" class="btn btn-warning btn-block ml-small" [disabled]="loginForm.invalid">Login</button>
      
    </form>
    <button type="register" class="btn btn-warning btn-block ml-small" [routerLink]="['/register']">Register</button>
  </div>
</div>