@import '~material-icons/iconfont/material-icons.css';
/* You can add global styles to this file, and also import other style files */
:root{

}
.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
  }
  .tim-typo .tim-note{
    bottom: 5px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
  }
  
th {
    width: 15%;
    padding: 12px;
}

td {
    padding: 12px;
}
.back-button{
    width: 100px;
}
.d-flex{
  display: flex;
}
/* padding styles begins */
.p-small{
  padding: 0.625rem !important;
}
.pl-small{
  
  padding-left: 0.625rem !important;
}
.pr-small{
  
  padding-right: 0.625rem !important;
}
/* padding styles ends */
/* margin styles begins */
.m-small{
  margin: 0.625rem !important;
}
.ml-small{
  
  margin-left: 0.625rem !important;
}
.mr-small{
  
  margin-right: 0.625rem !important;
}
.ml-medium{
  margin-left: 1rem !important;
}
/* margin styles ends */
/* button styles begins */
button{
  font-weight: 500 !important;
  height: 42px !important;
  padding: 0.625rem !important;
  margin: 0!important;
  text-transform: unset !important;
  font-size: initial !important;
  width: 92px !important;
}
/* button styles ends */
table{
  width: 100%;
}
mat-icon{
  height: 25px;
  width: 25px;
  display: block;
}
.form-control:focus{
  border-color: unset !important;
  box-shadow: none !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.active{
  color: #6495ED;
    border: 2px solid #6495ED;
    border-radius: 5px;
}
.disabled{
  color: #808080;
}